################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/netcoreapp3.1
/Properties/PublishProfiles
/bin/Release/netcoreapp3.1
*.suo
/obj
*.user
